In [413]:
# Importing required libraries

# OS items
import os
import warnings
warnings.filterwarnings("ignore")

import requests
import pandas as pd
import numpy as np

# Accessing SQL database via Python
import sqlalchemy  
import psycopg2
from sqlalchemy import create_engine

In [2]:
# api key
api_key = ''

### Download required parameters and data

In [292]:
# download parameter details for LineCode
def parameter_values(api_key):
    base = f'https://apps.bea.gov/api/data/?&UserID={api_key}'
    method = '&method=GetParameterValuesFiltered'
    dataset = '&DataSetName=Regional'
    tgt_parameter = '&TargetParameter=LineCode'
    table = '&TableName=SQGDP9'
    
    url = f'{base}{method}{dataset}{tgt_parameter}{table}&ResultFormat=json'

    r = requests.get(url).json()
    
    df = pd.DataFrame(x['BEAAPI']['Results']['ParamValue'])
    df["Key"] = df["Key"].astype(int) 
    df["Desc"] = df["Desc"].astype(str) 
    df = df.sort_values('Key').set_index('Key')
    
    df['Desc'] = df['Desc'].str.replace('[SQGDP9] Real GDP by state:', '', regex=False).str.replace('\(NAICS.*', '', regex=True)
    
    return df

In [293]:
# available parameters
industries = parameter_values(api_key=api_key)
industries

                                                  Desc
Key
1                                   All industry total
2                                   Private industries
3          Agriculture, forestry, fishing and hunting
6       Mining, quarrying, and oil and gas extraction
10                                          Utilities
11                                       Construction
12                                      Manufacturing
13                        Durable goods manufacturing
25                     Nondurable goods manufacturing
34                                    Wholesale trade
35                                       Retail trade
36                     Transportation and warehousing
45                                        Information
51                              Finance and insurance
56                 Real estate and rental and leasing
60    Professional, scientific, and technical servi...
64            Management of companies and enterprises
65    Administrative and support and waste manageme...
69                               Educational services
70                  Health care and social assistance
76                Arts, entertainment, and recreation
79                    Accommodation and food services
82    Other services (except government and governm...
83               Government and government enterprises
84                                    Federal civilian
85                                            Military
86                                     State and local

In [212]:
# convert LineCode to list
list_ = industries.index.tolist()

In [213]:
# download Regional data based on LineCode list 
def regional_data(line_code, api_key):
    base = f'https://apps.bea.gov/api/data/?&UserID={api_key}'
    method = '&method=GetData'
    dataset = '&DataSetName=Regional'
    table = '&TableName=SQGDP9'
    line_cd = f'&LineCode={line_code}'
    time = '&Year=ALL'
    geofips = '&GeoFips=STATE'
    result_format = '&ResultFormat=json'

    # Construct URL from parameters above
    url = f'{base}{method}{dataset}{table}{line_cd}{time}{geofips}&ResultFormat=json'

    # Request parameter information from BEA API
    r = requests.get(url).json()

    data = pd.DataFrame(r['BEAAPI']['Results']['Data'])
    
    return data

In [233]:
data = pd.DataFrame(index=[], columns=['Code', 'GeoFips', 'GeoName', 'TimePeriod', 'CL_UNIT', 'UNIT_MULT', 'DataValue']) 

for index, value in enumerate(list_):
    df_ = regional_data(line_code=value, api_key=api_key)
    data = data.append(df_, ignore_index = True)

In [234]:
# print downloaded data
data

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,SQGDP9-1,00000,United States,2005Q1,Millions of chained 2012 dollars,6,"14,771,602.0",NaN
1,SQGDP9-1,00000,United States,2005Q2,Millions of chained 2012 dollars,6,"14,839,782.0",NaN
2,SQGDP9-1,00000,United States,2005Q3,Millions of chained 2012 dollars,6,"14,972,054.0",NaN
3,SQGDP9-1,00000,United States,2005Q4,Millions of chained 2012 dollars,6,"15,066,597.0",NaN
4,SQGDP9-1,00000,United States,2006Q1,Millions of chained 2012 dollars,6,"15,267,026.0",NaN
...,...,...,...,...,...,...,...,...
102055,SQGDP9-86,98000,Far West,2019Q3,Millions of chained 2012 dollars,6,"317,034.7",NaN
102056,SQGDP9-86,98000,Far West,2019Q4,Millions of chained 2012 dollars,6,"321,783.8",NaN
102057,SQGDP9-86,98000,Far West,2020Q1,Millions of chained 2012 dollars,6,"317,906.0",NaN
102058,SQGDP9-86,98000,Far West,2020Q2,Millions of chained 2012 dollars,6,"293,494.2",NaN
102059,SQGDP9-86,98000,Far West,2020Q3,Millions of chained 2012 dollars,6,"300,724.4",NaN

In [236]:
# find unique state values
data.GeoName.unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'], dtype=object)

In [235]:
# remove non-state values
data_filtered = data[(data['GeoName'] != 'New England') & (data['GeoName'] != 'Mideast') & 
                     (data['GeoName'] != 'Great Lakes') & (data['GeoName'] != 'Plains') & 
                     (data['GeoName'] != 'Southeast') & (data['GeoName'] != 'Southwest') &
                     (data['GeoName'] != 'Rocky Mountain') & (data['GeoName'] != 'Far West')]
data_filtered

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,SQGDP9-1,00000,United States,2005Q1,Millions of chained 2012 dollars,6,"14,771,602.0",NaN
1,SQGDP9-1,00000,United States,2005Q2,Millions of chained 2012 dollars,6,"14,839,782.0",NaN
2,SQGDP9-1,00000,United States,2005Q3,Millions of chained 2012 dollars,6,"14,972,054.0",NaN
3,SQGDP9-1,00000,United States,2005Q4,Millions of chained 2012 dollars,6,"15,066,597.0",NaN
4,SQGDP9-1,00000,United States,2006Q1,Millions of chained 2012 dollars,6,"15,267,026.0",NaN
...,...,...,...,...,...,...,...,...
101551,SQGDP9-86,56000,Wyoming,2019Q3,Millions of chained 2012 dollars,6,"4,304.9",NaN
101552,SQGDP9-86,56000,Wyoming,2019Q4,Millions of chained 2012 dollars,6,"4,320.3",NaN
101553,SQGDP9-86,56000,Wyoming,2020Q1,Millions of chained 2012 dollars,6,"4,247.5",NaN
101554,SQGDP9-86,56000,Wyoming,2020Q2,Millions of chained 2012 dollars,6,"3,984.9",NaN
101555,SQGDP9-86,56000,Wyoming,2020Q3,Millions of chained 2012 dollars,6,"4,135.6",NaN

In [239]:
# verify filtered values
data_filtered.GeoName.unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [240]:
# verify data types
data_filtered.dtypes

Code          object
GeoFips       object
GeoName       object
TimePeriod    object
CL_UNIT       object
UNIT_MULT     object
DataValue     object
NoteRef       object
dtype: object

#### Data Cleaning

In [342]:
# remove non-float value
data_filtered2 = data_filtered[(data_filtered['DataValue'] != '(D)')]

In [387]:
# filter required data
GDP = data_filtered2[['Code', 'GeoName', 'TimePeriod', 'DataValue']]
GDP.iloc[:, 3:] = GDP.iloc[:, 3:].replace(',', '', regex=True)
GDP['DataValue'] = GDP.DataValue.astype(float)

In [389]:
# reset data index
GDP = GDP.reset_index(drop=True)

In [390]:
# print filtered data
GDP

            Code        GeoName TimePeriod   DataValue
0       SQGDP9-1  United States     2005Q1  14771602.0
1       SQGDP9-1  United States     2005Q2  14839782.0
2       SQGDP9-1  United States     2005Q3  14972054.0
3       SQGDP9-1  United States     2005Q4  15066597.0
4       SQGDP9-1  United States     2006Q1  15267026.0
...          ...            ...        ...         ...
88151  SQGDP9-86        Wyoming     2019Q3      4304.9
88152  SQGDP9-86        Wyoming     2019Q4      4320.3
88153  SQGDP9-86        Wyoming     2020Q1      4247.5
88154  SQGDP9-86        Wyoming     2020Q2      3984.9
88155  SQGDP9-86        Wyoming     2020Q3      4135.6

[88156 rows x 4 columns]

In [391]:
# remove unwanted value in column 'Code'
GDP['Code'] = GDP['Code'].str.replace('SQGDP9-', '', regex=False)

In [392]:
# convert to integer
GDP['Code'] = GDP.Code.astype(int)

In [393]:
GDP['Year'] = GDP['TimePeriod'].str[0:4]
GDP['Quarter'] = GDP['TimePeriod'].str[4:6]

In [394]:
# verify data types
GDP.dtypes

Code            int32
GeoName        object
TimePeriod     object
DataValue     float64
Year           object
Quarter        object
dtype: object

In [395]:
GDP['Code'] = GDP['Code'].map(industries['Desc'])

In [399]:
GDP.columns = ['Industry', 'State', 'TimePeriod', 'Value' ,'Year', 'Quarter']

In [400]:
gdp_data = GDP.filter(['State', 'Industry', 'Year', 'Quarter', 'Value'], axis=1)

In [401]:
# required data
gdp_data

               State             Industry  Year Quarter       Value
0      United States   All industry total  2005      Q1  14771602.0
1      United States   All industry total  2005      Q2  14839782.0
2      United States   All industry total  2005      Q3  14972054.0
3      United States   All industry total  2005      Q4  15066597.0
4      United States   All industry total  2006      Q1  15267026.0
...              ...                  ...   ...     ...         ...
88151        Wyoming      State and local  2019      Q3      4304.9
88152        Wyoming      State and local  2019      Q4      4320.3
88153        Wyoming      State and local  2020      Q1      4247.5
88154        Wyoming      State and local  2020      Q2      3984.9
88155        Wyoming      State and local  2020      Q3      4135.6

[88156 rows x 5 columns]

### Store into Postgres database

In [419]:
# required parameters for connection
engine = sqlalchemy.create_engine("postgresql://postgres:XXXX@localhost:5432/production10")
con = engine.connect()

# Verify that there are no existing tables
print(engine.table_names())

[]

In [420]:
table_name = 'gdp_data'
gdp_data.to_sql(table_name, con)

In [421]:
# verify table
print(engine.table_names())

['gdp_data']

In [422]:
con.close()